/*Color valiables*/
$color-primary:#00a6c4;
$color-text-primary:#ffffff;
$color-secondary:#fab529;
$color-text-secondary:#000000;

$color-text:#000000;
$color-background:#fefefe;

$color-text-inverse:#ffffff;
$color-background-inverse:#000000;

$color-success: #4CAF50;
$color-danger: #dc3023;


// black theme
// $color-primary:#00a6c4;
// $color-text-primary:#ffffff;
// $color-secondary:#fab529;
// $color-text-secondary:#000000;

// $color-text:#ffffff;
// $color-background:#000000;

// $color-text-inverse:#000000;
// $color-background-inverse:#ffffff;

// $color-success: #4CAF50;
// $color-danger: #dc3023;

// other theme
// $color-primary:#01579b;
// $color-text-primary:#ffffff;
// $color-secondary:#ffeb3b;
// $color-text-secondary:#000000;

// $color-text:#000000;
// $color-background:#fefefe;

// $color-text-inverse:#ffffff;
// $color-background-inverse:#000000;

// $color-success: #4CAF50;
// $color-danger: #dc3023;
